$colorMain: black;

body{
    color: $colorMain; 
    text-align: center;   
    max-width: 100%;
    overflow-x: hidden;
}

canvas{
    border: 0.1px solid black; 
    max-width: 100%;
}

.row{
    margin-top: 1vh;    
}

.lastscore{
    margin-top: 25%;
}

.description{
    margin-top: 15%;    
}

footer{
    color: white;
    .github{
        color: white;    
    }    
}